* {
  padding: 0;
  margin: 0;
}
body {
  background: #ededed;
}
.theme-container {
  background: #ffffff;
  border-radius: 5px;
  min-height: auto!important;
  margin-top: 20px!important;
  padding-top: 20px;
}
